/* $Id: desktop.rc,v 1.1 2002/04/03 23:26:44 pavlovskii Exp $ */

1 256 "poweroff.com"

1 VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "\\0"
            VALUE "FileDescription", "Desktop shell\\0"
            VALUE "FileVersion", "1, 0, 0, 1\\0"
            VALUE "InternalName", "shell\\0"
            VALUE "LegalCopyright", "Copyright © 2002\\0"
            VALUE "LegalTrademarks", "\\0"
            VALUE "OriginalFilename", "desktop.exe\\0"
            VALUE "ProductName", "The Möbius Operating System\\0"
            VALUE "ProductVersion", "1, 0, 0, 1\\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
