/* $Id: shell.rc,v 1.2 2002/02/24 19:13:30 pavlovskii Exp $ */

STRINGTABLE DISCARDABLE 
BEGIN
    1                       "Displays help for the shell"
    2                       "Exits the shell"
    3                       "Changes the current working directory"
    4                       "Displays a list of files in the current directory"
    5                       "Displays the contents of a file"
    6                       "Clears the screen"
    7                       "Writes the string ""Hello, world!"" to a file or device"
    8                       "Displays the contents of a file as hex"
    4096                    "The Möbius: command-line shell\n"
END
